Package: xyz.noham.rmhook
Name: RMHook
Version: 3.27.1
Architecture: iphoneos-arm
Description: A tweak to hook remarkable mobile app.
Maintainer: NohamR
Author: NohamR
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
